body{
    background-color: black;
}
div.scrollmenu {
    background-color: #00000041;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 17px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }

img {
    padding: 50px 300px; /* 20 define a distancia das imagens entre si, e 260 defini a distancia da borda */
  }